.p4n-flexible-menu-wrapper {
    position: absolute;
    z-index: 100;
    /*transform-origin: left top 0px;*/
    transform: scale(0);
    transition: opacity 0.03s linear, transform 0.12s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.12s cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 4px;
    overflow: auto;
    box-sizing: border-box;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.p4n-flexible-menu-wrapper.menu-open {
    transform: scale(1);
    transition: opacity 0.015s linear, scale 0s linear, transform 0.4s cubic-bezier(0, 0, 0.2, 1), -webkit-transform 0.4s cubic-bezier(0, 0, 0.2, 1);
}


.p4n-list-item-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
}


.p4n-flexible-menu-list {
    margin: 0;
    padding: 8px 0;
}


.p4n-flexible-menu-list .divider {
    height: 0;
    margin: 0;
    border: none;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


.p4n-flexible-menu-list .list-item, .p4n-flexible-menu-list .list-item a, .p4n-flexible-menu-list .list-item > div {
    font-size: 14px;
    font-weight: normal;
    user-select: none;
}

.p4n-flexible-menu-list .list-item :not(a) {
    color: rgba(0, 0, 0, 0.87);
    height: 48px;
    padding: 0 16px;
    display: flex;
    position: relative;
    align-items: center
}

.p4n-flexible-menu-list .list-item:hover {
    background: #f5f5f5;
}

.p4n-flexible-menu-list .list-item a, .p4n-flexible-menu-list .list-item div {
    color: rgba(0, 0, 0, 0.87);
    height: 48px;
    padding: 0 16px;
    display: flex;
    position: relative;
    align-items: center;
    text-decoration: none;
}