


.template_signature .m-signature-pad--body canvas {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 250px;
    background:rgba(227,225,226,0.4);
    border-bottom:1px solid #9e9e9e;
}    

.template_signature .m-signature-pad-clear {
    cursor: pointer;
}    




.template_signature {
    position:relative;
    margin-top:12px;
    margin-bottom: 12px;
    display:inline-block;
    width:100%;
}



.template_signature label {
    font-size:14px;
    line-height:16px;
    height:16px;
    position:absolute;
    top:0;
    left:0;
    cursor:text;
    -webkit-transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform:translateY(12px);
    -ms-transform:translateY(12px);
    transform:translateY(12px);
    -webkit-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    text-align:initial;
    color:#9e9e9e;

}

.template_signature label * {
    display:inline-block;
    white-space: nowrap;
}

.template_signature label i {
    vertical-align: middle;
}

.template_signature label {
    -webkit-transform:translateY(-14px) scale(.8);
    -ms-transform:translateY(-14px) scale(.8);
    transform:translateY(-14px) scale(.8);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    color:#9e9e9e;
}

.template_signature.required-invalid label {
    color:red;
}
.template_signature.required-invalid canvas,#crm_body .template_signature.required-invalid canvas {
    border-bottom:1px solid red;
}

