.template_fileinput {
    position:relative;
    display:inline-block;
    width:100%;
    margin-top:12px;
    margin-bottom: 12px;
    border-bottom: 1px solid #9e9e9e;
}

.template_fileinput input {
    display: none;
}

.template_fileinput label {
    font-size:14px;
    position:absolute;
    top:0;
    left:0;
    cursor:text;
    -webkit-transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:color .2s ease-out,-webkit-transform .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out;
    transition:transform .2s ease-out,color .2s ease-out,-webkit-transform .2s ease-out;
    -webkit-transform:translateY(12px);
    -ms-transform:translateY(12px);
    transform:translateY(12px);
    -webkit-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    transform-origin:0 100%;
    text-align:initial;
    color:#9e9e9e;
}

.template_fileinput .drop-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    -webkit-transition: background-color .2s ease-out, box-shadow .3s,border .3s;
    transition: background-color .2s ease-out, box-shadow .3s,border .3s;
    font-size:14px;
    box-sizing:content-box;
    width:100%;
    padding:0;
    border:none;
    border-radius:0;
    outline:0;
    box-shadow:none;
    line-height: 40px;
    overflow: visible;
    cursor: pointer;
    user-select: none;
}

.template_fileinput .drop-zone, .template_fileinput .error-message {
    border-bottom: 1px solid #ddd;
}

.template_fileinput .drop-zone:hover {
    background-color: rgba(255,255,255,0.67);
}

.template_fileinput .drop-zone-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #999;
    padding: 8px 0;
    transition: color .2s ease-out;
}

.template_fileinput .drop-zone-info-icon {
    font-size: 44px;
}

.template_fileinput .drop-zone-info-text {
    text-align: center;
    line-height: normal;
}

.template_fileinput .drop-zone .file-rules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: #529ae2;
    font-size: 12px;
    line-height: normal;
    padding: 4px 0;
}

.template_fileinput .file-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.template_fileinput .file-list-item {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px;
    font-size: 14px;
}

.template_fileinput .file-details {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}

.template_fileinput .file-type {
    color: #aaa;
    text-transform: uppercase;
    padding: 0 8px;
}

.template_fileinput .file-name {
    flex: 1 1 auto;
    color: #aaa;
    padding: 0 8px;
}

.template_fileinput .file-size {
    color: #aaa;
    padding: 0 8px;
}

.template_fileinput .file-action {
    white-space: nowrap;
}

.template_fileinput .file-action .template_iconbutton {
    color: #bbb;
}

.template_fileinput .file-action .template_iconbutton:hover {
    color: #999;
}

.template_fileinput .file-max-count, .template_fileinput .file-allowed-types {
    margin: 0 4px;
}

.template_fileinput label {
    -webkit-transform:translateY(-14px) scale(.8);
    -ms-transform:translateY(-14px) scale(.8);
    transform:translateY(-14px) scale(.8);
    -webkit-transform-origin:0 0;
    -ms-transform-origin:0 0;
    transform-origin:0 0;
    color:#9e9e9e;
}




.template_fileinput.focusEffect label {
    color:#5286ba; 
}

.template_fileinput.focusEffect .drop-zone, #crm_body .template_fileinput.focusEffect .drop-zone {
    border-bottom:1px solid #5286ba;
}


.template_fileinput.required-invalid label {
    color:red;
}
.template_fileinput.required-invalid .drop-zone,#crm_body .template_fileinput.required-invalid .drop-zone {
    border-bottom:1px solid red;
}


.template_fileinput .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center center;
    background: rgba(255,255,255,0.85);
    transform: scale(0);
    opacity: 0;
}

.template_fileinput .loading.loading-active {
    transition: opacity 0.2s ease-in-out;
    transform: scale(1);
    opacity: 1;
}

.template_fileinput .loading .loading-icon {
    font-size: 44px;
    animation:spin 4s linear infinite;
    color: #999;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.template_fileinput .error-message {
    padding: 8px;
    text-align: center;
}

.template_fileinput .error-message ul {
    display: inline-block;
    list-style: none;
    margin: 0;
}

.template_fileinput .error-message li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.template_fileinput .error-message .material-icons, .error-message li {
    font-size: 12px;
    color: red;
}